# MongoDB
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/
MONGODB_USERNAME=usuario
MONGODB_PASSWORD=contraseña

# Servicios de IA y audio
ELEVENLABS_API_KEY=tu_clave_de_elevenlabs
GEMINI_API_KEY=tu_clave_de_gemini

# Snowflake
SNOWFLAKE_ACCOUNT=tu_cuenta
SNOWFLAKE_USER=tu_usuario
SNOWFLAKE_PASSWORD=tu_contraseña
SNOWFLAKE_WAREHOUSE=tu_warehouse
SNOWFLAKE_DATABASE=tu_base_de_datos
SNOWFLAKE_SCHEMA=tu_schema
SNOWFLAKE_ROLE=tu_rol